@font-face {
  font-family: "Lato";
  src: url("../../fonts/FuenteLato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LatoBold";
  src: url("../../fonts/FuenteLato/Lato-Bold.ttf") format("truetype");
}

body {
  font-family: "Lato", sans-serif;
}

/*barra superior negra*/
.bottom-rectangle-perfil {
  background-color: #303030;
  display: flex;
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 5px 10px 5px 10px;
  top: 80px; /* La altura del rectángulo superior */
  z-index: 1; /* Asegura que el rectángulo esté detrás de los botones */
  @media (max-width: 1090px) {
    position: static;
  }
}

/* Estilos para el titulo de la barra superior negra*/
.text-perfil {
  font-family: "LatoBold", sans-serif;
  color: #ffffff;
  font-size: 140%;
  transform: translate(2px, 10px);
}

.container_perfil {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 12rem;
}

/* Estilos para el titulo de cada textbox*/
.texto_perfil {
  background-color: #ffffff; /* Fondo blanco */
  color: #303030;
  font-family: "LatoBold", sans-serif;
  font-size: 20px;
}

.seccion-usu-rol {
  display: flex;
  justify-content: space-between;
}

.input-text-usuario {
  border: 3px solid #008e5a;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  color: #303030;
  width: 19.5rem;
}
.input-text-usuario:focus {
  outline: none;
  border: 3px solid #008e5a;
}

.input-text-rol {
  border: 3px solid #008e5a;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  background-color: #ffffff;
  color: #303030;
  width: 11rem;
}
.input-text-rol:focus {
  outline: none;
  border: 3px solid #008e5a;
}

.pSeccion-titulos-usuariorol {
}

/*Estilos para la seccion de los botones*/
.pSeccion_perfil {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}

/*Estilos para el boton contrasñea*/
.btn-editar-password {
  background-color: #008e5a;
  color: #ffffff;
  border: 3px solid #008e5a;
  font-size: 16px;
  font-family: "LatoBold", sans-serif;
}
.btn-editar-password:hover {
  background-color: #ffffff;
  color: #008e5a;
  border: 3px solid #008e5a;
  border-radius: 5px;
  font-family: "LatoBold", sans-serif;
}
.btn-editar-password:active {
  background-color: #008e5a;
  color: #303030;
  border: 3px solid #008e5a;
  font-size: 16px;
  font-family: "LatoBold", sans-serif;
}

/*Estilos para el boton guardar*/
.btn-guardar-perfil {
  background-color: #008e5a;
  color: #ffffff;
  border: 3px solid #008e5a;
  font-size: 16px;
  font-family: "LatoBold", sans-serif;
}
.btn-guardar-perfil:hover {
  background-color: #ffffff;
  color: #008e5a;
  border: 3px solid #008e5a;
  border-radius: 5px;
  font-family: "LatoBold", sans-serif;
}
.btn-guardar-perfil:active {
  background-color: #008e5a;
  color: #303030;
  border: 3px solid #008e5a;
  font-size: 16px;
  font-family: "LatoBold", sans-serif;
}

/* Estilos para el titulo volver a inicio */
.text-inicio-perfil {
  cursor: pointer;
  text-decoration: none;
  position: static;
  font-family: "LatoBold", sans-serif;
  color: #ffffff;
  font-size: 140%;
  padding: 10px 2px;
  z-index: 5000;
  margin-left: auto;
}
.text-inicio-perfil:hover {
  color: #ffffff;
}

/*Estilos para los textbox*/
.label-containernombre-perfil {
  width: 27rem; /* Ancho del label */
  background-color: #ffffff; /* Fondo blanco */
  border: 3px solid #008e5a; /* Contorno de 3px color verde */
  border-radius: 5px; /* Bordes redondeados */
  font-family: "Lato", sans-serif;
}
.label-containernombre-perfil input[type="text"] {
  width: calc(100%); /* Ancho del input menos el espacio del icono */
  border: none; /* Elimina el borde del input */
  outline: none; /* Elimina el borde de enfoque */
  padding: 3px; /* Espacio interno */
  color: #303030; /* Color del texto */
  font-size: 20px; /* Tamaño del texto */
}
.label-containerusuario-perfil {
  width: 15rem; /* Ancho del label */
  background-color: #ffffff; /* Fondo blanco */
  border: 3px solid #008e5a; /* Contorno de 3px color verde */
  border-radius: 5px; /* Bordes redondeados */
  font-family: "Lato", sans-serif;
}
.label-containerusuario-perfil input[type="text"] {
  width: calc(100%); /* Ancho del input menos el espacio del icono */
  border: none; /* Elimina el borde del input */
  outline: none; /* Elimina el borde de enfoque */
  padding: 3px; /* Espacio interno */
  color: #303030; /* Color del texto */
  font-size: 20px; /* Tamaño del texto */
}
.label-containerrol-perfil {
  width: 10rem; /* Ancho del label */
  background-color: #ffffff; /* Fondo blanco */
  border: 3px solid #008e5a; /* Contorno de 3px color verde */
  border-radius: 5px; /* Bordes redondeados */
  font-family: "Lato", sans-serif;
}
.label-containerrol-perfil input[type="text"] {
  width: calc(100%); /* Ancho del input menos el espacio del icono */
  border: none; /* Elimina el borde del input */
  outline: none; /* Elimina el borde de enfoque */
  padding: 3px; /* Espacio interno */
  color: #303030; /* Color del texto */
  font-size: 20px; /* Tamaño del texto */
}

/*estilos para el modal cambiar contraseña*/
.modal-perfil {
  z-index: 5000;
  font-family: "LatoBold", sans-serif;
}

.btnclose-perfil {
  background-color: #ffffff;
  color: #008e5a;
  border: none;
  padding: 0px;
  font-size: 30px;
}

/* Estilos para el botón Guardar del modal */
.modal-footer-perfil .btn-primary {
  font-family: "LatoBold", sans-serif; /* tipografia */
  background-color: #008e5a; /* Color verde */
  border-color: 3px solid #008e5a; /* Color del borde */
  color: #ffffff;
  margin: 0;
}

.modal-footer-perfil {
  border: none;
  padding: 0px;
}

.modal-footer-perfil .btn-primary:active {
  background-color: #008e5a; /* Color verde al hacer clic */
  border-color: #008e5a; /* Color del borde al hacer clic */
  color: #000000; /* Color negro al hacer clic */
}
.modal-body-perfil input[type="text"] {
  font-family: "Lato", sans-serif;
}
