@font-face {
  font-family: "Lato";
  src: url("../../fonts/FuenteLato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LatoBold";
  src: url("../../fonts/FuenteLato/Lato-Bold.ttf") format("truetype");
}

body {
  font-family: "Lato", sans-serif;
}
.fondBlanco {
  background-color: white;
  height: 10.5rem;
  width: 100%;
  position: fixed;
  z-index: 500;
  margin-top: 5rem;
  @media (max-width: 1090px) {
    position: static;
    margin-top: 0;
    padding-top: 5rem;
  }
}

/*barra superior negra*/
.bottom-rectangle-usuarios {
  background-color: #303030;
  display: flex;
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 5px 10px 5px 10px;
  top: 80px; /* La altura del rectángulo superior */
  z-index: 1; /* Asegura que el rectángulo esté detrás de los botones */
  @media (max-width: 1090px) {
    position: static;
  }
}

/* Estilos para el titulo usuarios */
.text-usuarios {
  font-family: "LatoBold", sans-serif;
  color: #ffffff;
  font-size: 140%;
  transform: translate(2px, 10px);
}

/* Estilos para el titulo volver a inicio */
.text-inicio-usuarios {
  cursor: pointer;
  text-decoration: none;
  position: static;
  font-family: "LatoBold", sans-serif;
  color: #ffffff;
  font-size: 140%;
  padding: 10px 2px;
  z-index: 5000;
  margin-left: auto;
}

.text-inicio-usuarios:hover {
  color: #ffffff;
}

/* Estilos para el buscador */
.label-container-usuarios {
  margin: 7rem auto 0 auto;
  width: 70vw; /* Ancho del label */
  background-color: #ffffff; /* Fondo blanco */
  border: 3px solid #008e5a; /* Contorno de 3px color verde */
  border-radius: 5px; /* Bordes redondeados */
  @media (max-width: 1090px) {
    margin: 4rem auto 0 auto;
  }
  margin-top: 70px;
}
.label-container-usuarios input[type="text"] {
  width: calc(100% - 40px); /* Ancho del input menos el espacio del icono */
  border: none; /* Elimina el borde del input */
  outline: none; /* Elimina el borde de enfoque */
  padding: 3px; /* Espacio interno */
  color: #303030; /* Color del texto */
  font-size: 20px; /* Tamaño del texto */
}
.label-container-usuarios input[type="text"]::placeholder {
  color: #858585; /* Color del texto del placeholder */
  font-size: 20px; /* Tamaño del texto del placeholder */
}
.icon-usuarios {
  color: #008e5a; /* Color verde */
}

/* Estilos para el botón "Agregar usuarios" */
.btn-agregar-usuarios {
  font-family: "LatoBold", sans-serif; /* tipografia */
  --bs-btn-padding-y: 0.3rem;
  --bs-btn-padding-x: 10px; /* largo del boton */
  --bs-btn-font-size: 1.2rem; /* tamaño de la letra */
  background-color: #ffffff; /* Fondo blanco */
  color: #303030; /* Letra blanca */
  border: 3px solid #ffffff; /* Contorno verde */
  border-radius: 5; /* Sin bordes redondeados */
  transition: all 0.3s ease; /* Transición suave */
  transform: translate(20px); /* posicion del boton */
}

.btn-agregar-usuarios:hover {
  background-color: #303030; /* Fondo blanco al pasar el mouse */
  border-color: #ffffff; /* Contorno verde al pasar el mouse */
  color: #ffffff; /* Letra verde al pasar el mouse */
}

.btn-agregar-usuarios:active {
  --bs-btn-background-color: #ffffff; /* Fondo blanco al hacer clic */
  --bs-btn-border-color: #ffffff; /* Contorno verde al pasar el mouse */
  --bs-btn-color: #303030; /* Letra verde al hacer clic */
}

/*estilos para el modal agregar usuarios*/
.modal-usuarios {
  z-index: 5000;
  font-family: "LatoBold", sans-serif;
}

.btnclose-usuarios {
  background-color: #ffffff;
  color: #008e5a;
  border: none;
  padding: 0px;
  font-size: 30px;
}

/* Estilos para el botón Guardar del modal */
.modal-footer-usuarios .btn-primary {
  font-family: "LatoBold", sans-serif; /* tipografia */
  background-color: #008e5a; /* Color verde */
  border-color: 3px solid #008e5a; /* Color del borde */
  color: #ffffff;
  margin: 0;
}

.modal-footer-usuarios {
  border: none;
  padding: 0px;
}

.modal-footer-usuarios .btn-primary:active {
  background-color: #008e5a; /* Color verde al hacer clic */
  border-color: #008e5a; /* Color del borde al hacer clic */
  color: #000000; /* Color negro al hacer clic */
}
.modal-body-usuarios input[type="text"] {
  font-family: "Lato", sans-serif;
}

.form-select-usuarios {
  background-color: #ffffff;
  color: #303030;
}

.contTabla-usuarios {
  width: calc(100% - 0.2rem);
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding-top: 12rem;
  @media (min-width: 393px) {
    padding-top: 8rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    width: calc(100% - 0.2rem);
  }
  @media (min-width: 508px) {
    padding-top: 7rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    width: calc(100% - 0.2rem);
  }
  @media (min-width: 1090px) {
    padding-top: 265px;
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(100% - 4rem);
  }
}
/* Estilos personalizados para la tabla */
.tabla-container-usuarios {
  text-align: center;
  margin-bottom: 100px;
  /* Altura máxima del contenedor */
  /* Centrado horizontal */
  border-top: #008e5a solid 3px;
  border-top-width: 0px;
  margin-top: 0px;
  position: fixed;
  overflow-y: auto;
  height: 60%;
  width: calc(100% - 4rem);
}

#tabla-usuarios {
  width: 100%;
}

#tabla-usuarios th,
#tabla-usuarios td {
  border: 3px solid #008e5a; /* Líneas divisorias de 3px de grosor en color verde */
  padding: 8px;
  text-align: left;
}

#tabla-usuarios th {
  background-color: #008e5a; /* Encabezados con fondo verde */
  color: white; /* Letras blancas en los encabezados */
}

#tabla-usuarios tbody td {
  color: #303030; /* Texto de las filas en color #303030 */
}

.fila-usuarios:hover {
  background-color: #008e5a53; /* Líneas divisorias de 3px de grosor en color verde */
}

.valores-usuarios {
  justify-content: space-around;
  align-items: center;
  display: none;
}
.fila:hover {
  background-color: #008e5a53; /* Líneas divisorias de 3px de grosor en color verde */
}

.valores {
  display: none;
}

.fila:hover .valores {
  display: flex;
}

.pagRegistrosusuarios {
  font-family: "LatoBold", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  align-items: center;
  margin-top: 0.2rem;
  width: 100%;
}
.pagination {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cantregusuarios {
  margin-top: 1.2rem;
  display: flex;
  align-items: start;
}
.cantregistrosusuarios {
  font-family: "LatoBold", sans-serif;
  color: #008e5a;
  border: 3px solid #008e5a;
}
.pSeccion {
  display: flex;
  flex-wrap: wrap;
}
.text1 {
  color: #008e5a;
  font-family: "LatoBold", sans-serif;
  padding-right: 10px;
}

.text2 {
  color: #008e5a;
  font-family: "LatoBold", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.active {
  background-color: #008e5a;
}

.toggle-estatus-usuarios {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.inputLleno {
  border: 3px solid #008e5a;
}
.inputVacio {
  border: 3px solid red;
}
.inputVacio::placeholder {
  color: red;
}
.inputVacio:focus {
  border: 3px solid red;
}

/* Caja de sugerencias zonas */

.sugerencias-boxZona {
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  position: absolute;
  width: 13rem;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin-top: 5px;
  transition: opacity 0.2s ease-in-out; /* Animación suave */
  opacity: 0; /* Para la animación de aparición */
  visibility: hidden;
}

.sugerencias-boxZona.activado {
  opacity: 1; /* Hacer visible cuando hay sugerencias */
  visibility: visible;
}

.sugerencia-itemZona {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  transition: background-color 0.2s ease-in-out; /* Animación suave al pasar sobre una opción */
}

.sugerencia-itemZona:hover {
  background-color: #f0f0f0;
  color: #000;
}

.sugerencia-itemZona:active {
  background-color: #e0e0e0;
  color: #000;
}

.sugerencias-boxZona::-webkit-scrollbar {
  width: 8px;
}

.sugerencias-boxZona::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sugerencias-boxZona::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.sugerencias-boxZona::-webkit-scrollbar-thumb:hover {
  background: #555;
}
